#header{
    text-align:  center;
    background-color: orange;
}

#columns {
        display: table;
        width: 100%;
        box-sizing: border-box;  /* не поддерживается в CSS2 */
        margin-left: 0;
        margin-right: 0;
}

#columns > div,
#columns > noindex > div {   /* center*/
        display: table-cell;
        vertical-align: top;
        width: auto;
        box-sizing: border-box;  /* не поддерживается в CSS2 */
}

#columns > #left,
#columns > noindex > #left {
        max-width: 300px;
        min-width: 300px;
        width: 300px;
}

/*#columns > #right,
#columns > noindex > #right {
        background-color: blue;
        max-width: 200px;
        min-width: 200px;
        width: 200px;
        overflow: hidden;
}*/
