{% load static %}
{% static 'catalog/images' as static_images %}
{% load staticfiles %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>Напитки</title>
    <link rel="stylesheet" href="{% static 'catalog/styles.css' %}">
</head>

<body>
    <div id="header">
        <h1><a href="{% url 'index' %}">Заказ еды на дом или офис</a></h1>
        <nav id="topnav">
            <a href="{% url 'address' %}">Адреса</a> |
            <a href="{% url 'akcii' %}">Акции</a> |
            <a href="{% url 'staff' %}">Служба качества</a> | 
            <a href="{% url 'howto' %}" style="color: grey">Сделать заказ</a>
        </nav>
    </div>
    <a href="{% url 'index' %}"><img width=100% src="{{ static_images }}/italian-pizza.jpg"></a>

    <div id="columns">
        <div id="left">
            <p><a href="{% url 'pizza' %}"><img src="{{ static_images }}/button1.png"></a></p>
            <p><a href="{% url 'hot' %}"><img src="{{ static_images }}/button2.png"></a></p>
            <p><a href="{% url 'salads' %}"><img src="{{ static_images }}/button3.png"></a></p>
            <p><a href="{% url 'drinks' %}"><img src="{{ static_images }}/button4.png"></a></p>
            <p><a href="{% url 'desserts' %}"><img src="{{ static_images }}/button5.png"></a></p>
        </div>

        <div id="center">
            <h2>Напитки:</h2>
                <form action="{% url 'order' %}" method="post">
                    {% csrf_token %}
                    {% for drink in drinks %}
                    <img src="{{ static_images }}/drink{{ drink.id }}.jpg" width="300">
                    <h4>{{ drink.name }}
                        <select name="{{ drink.name }}">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </h4>  <h4>Цена:</h4> <h4 style="color: red;">{{ drink.price }} руб.</h4>
                    {% endfor %}
                    <input type="submit" value="Заказать"></pre>
                </form>
        </div>
    </div>

    <div id="footer">
    </div>
</body>
</html>
