{% load static %}
{% static 'catalog/images' as static_images %}
{% load staticfiles %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>Заказ еды на дом или офис</title>
    <link rel="stylesheet" href="{% static 'catalog/styles.css' %}">
</head>

<body>
    <div id="header">
        <h1><a href="{% url 'index' %}">Заказ еды на дом или офис</a></h1>
        <nav id="topnav">
            <a href="{% url 'address' %}">Адреса</a> |
            <a href="{% url 'akcii' %}">Акции</a> |
            <a href="{% url 'staff' %}">Служба качества</a> | 
            <a href="{% url 'howto' %}" style="color: grey">Сделать заказ</a>
        </nav>
    </div>
    <a href="{% url 'index' %}"><img width=100% src="{{ static_images }}/italian-pizza.jpg"></a>

    <div id="columns">
        <div id="left">
            <p><a href="{% url 'pizza' %}"><img src="{{ static_images }}/button1.png"></a></p>
            <p><a href="{% url 'hot' %}"><img src="{{ static_images }}/button2.png"></a></p>
            <p><a href="{% url 'salads' %}"><img src="{{ static_images }}/button3.png"></a></p>
            <p><a href="{% url 'drinks' %}"><img src="{{ static_images }}/button4.png"></a></p>
            <p><a href="{% url 'desserts' %}"><img src="{{ static_images }}/button5.png"></a></p>
        </div>

        <div id="center">
            <p>Службы качества пока нет</p>
        </div>
    </div>

    <div id="footer">
    </div>
</body>
</html>
